reset * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

main {
  max-width: 96vw;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*GLOBALE VARIABLER*/
:root {
  --bakgrunn: #f4f3f1;
  --tema_farve: #b15529;
  --dark_farve: #33170b;
  --lys_farve: #e0d0b5;
}
/*FONTE*/
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("../fonte/Helvetica.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Light";
  font-style: normal;
  font-weight: lighter;
  src: local("Helvetica Light"), url("helvetica-light-587ebe5a59211.woff") format("woff");
}

@font-face {
  font-family: "Helvetica_obl";
  src: url("../fonte/Helvetica-Oblique.woff") format("woff");
}
@font-face {
  font-family: "merivale_demoregular";
  src: url("../fonte/merivale-regular-webfont.woff2") format("woff2"), url("../fonte/merivale-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Helvetica Light";
  font-size: 24px;
  letter-spacing: 1.5px;
  color: var(--dark_farve);
}
h2 {
  font-family: "Helvetica";
  font-size: 2rem;
  font-weight: lighter;
}
h3 {
  font-family: "Helvetica";
  font-size: 1.5rem;
  font-weight: lighter;
}
h4 {
  font-family: "Helvetica Light";
  font-size: 16px;
  letter-spacing: 1.5px;
  font-style: oblique;
}
p {
  font-family: "Helvetica Light";
  font-size: 14px;
  letter-spacing: 0.6px;
  word-spacing: 105;
  line-height: 2;
}
a {
  font-family: "Helvetica Light";
  font-size: 1.1rem;
  font-weight: lighter;
  text-transform: uppercase;
  font-style: oblique;
  text-decoration: 0.5px underline;
  color: var(--dark_farve);
  letter-spacing: -1px;
}
.hero_2 {
  font-family: "ivypresto-display", serif;
  font-weight: 100;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 4px;
}
.hero {
  font-family: "merivale_demoregular";
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
body {
  background-color: var(--bakgrunn);
}

.background-texture {
  background-image: url(../imgs/background-texture.svg);
  background-size: cover;
  width: 100%;
  aspect-ratio: 1/1;
}

/*  HEADER STYLING */

header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 1px 20px 40px rgba(255, 255, 255, 0.838);
  position: fixed;
  background-color: #fbfbfbf6;
  z-index: 1;
}

.logo {
  width: 130px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  border: 0.5px solid var(--lys_farve);
  text-shadow: 1px 4px 8px rgba(255, 255, 255, 0.838);
}

.menu a,
.shop_menu a {
  font-family: "Helvetica Light";
  font-style: oblique;
  color: var(--dark_farve);
  text-decoration: 0.5px underline;
}

.menu_left {
  display: flex;
  align-items: baseline;
  gap: 60px;
}

.cart {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.cart img {
  width: 17px;
}
/* footer */

.footerdiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 100%;
  padding-top: 25px;
  background-color: #33170b;
  margin-top: 100px;
  padding-bottom: 25px;
  padding-left: 25px;
  gap: 30px;
}

.mellemrum {
  display: none;
}

.footerdiv p {
  color: #e0d0b5;
  font-family: "Helvetica Light";
  font-weight: 100;
  font-size: small;
  line-height: 1;
}

.footerdiv a {
  text-transform: none;
}

.footerdiv a :hover {
  text-decoration: underline;
}

.followus {
  margin-left: 80px;
}

.some img {
  width: 25px;
}

.some {
  display: flex;
  gap: 10px;
}

.contactus {
  margin-left: 150px;
}

.storelocation {
  margin-left: 400px;
}

.customercare {
  margin-left: 112px;
}

h5 {
  color: #e0d0b5;
  font-family: "Helvetica";
  font-style: italic;
  font-weight: 900;
  font-size: 16px;
  white-space: nowrap;
}

/* DESKTOP MEDIA-QUERY ELEMENTER */

@media only screen and (min-width: 900px) {
  .hero {
    font-size: 3.5vw;
  }

  .hero_2 {
    font-size: 3.5vw;
    letter-spacing: 4px;
  }

  p {
    font-size: 16px;
  }

  main {
    max-width: 95vw;
  }
}

/* footer mobile media query */

@media only screen and (max-width: 900px) {
  .customercare,
  .storelocation,
  .contactus,
  .followus {
    margin-left: 8px;
  }

  .footerdiv p {
    font-size: 10px;
  }

  h5 {
    font-size: 10px;
  }
}
