header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 1px 20px 40px rgba(255, 255, 255, 0.838);
  position: fixed;
  background-color: #fbfbfbf6;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  border: 0.5px solid var(--lys_farve);
  text-shadow: 1px 4px 8px rgba(255, 255, 255, 0.838);
}

.menu a,
.shop_menu a {
  font-family: "Helvetica Light";
  font-style: oblique;
  color: var(--dark_farve);
  text-decoration: 0.5px underline;
}

.menu_left {
  display: flex;
  align-items: baseline;
  gap: 60px;
}

.cart {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.cart img {
  width: 17px;
}

main {
  padding: 50px;
}

input,
.world {
  margin-bottom: 1.5rem;
}

label {
  font-family: "Helvetica";
}

select,
button {
  background-color: var(--bakgrunn);
  border: 1px solid gainsboro;
}

select {
  padding: 10px;
  font-size: 14px;
}

button {
  display: block;
  color: var(--bakgrunn);
  font-family: "Helvetica";
  margin: auto;
  font-size: 1.2rem;
  padding: 3vh;
  width: 26vh;
  cursor: pointer;
  background-color: var(--dark_farve);
  border: solid 0.1rem var(--dark_farve);
}

input[type="text"] {
  font-family: "Helvetica";
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  border: 1px solid gainsboro;
  font-size: 16px;
}

#checkout {
  text-align: center;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.checkout_form {
  width: 100%;
  margin: auto;
}

#your_basket {
  font-family: "Helvetica_obl";
  text-align: center;
  text-decoration: underline;
}

.basket {
  margin-top: 40px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  max-width: 700px;
}

.items img {
  background-image: url(/imgs/background-texture.svg);
  margin-top: 10px;
}

#thank_u {
  font-family: "Helvetica_obl";
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
}

.page-divider {
  width: 100%;
  margin-top: 25px;
}

/* media query */

@media screen and (min-width: 800px) {
  /* main {
    padding: 110px;
  } */

  .container {
    flex-direction: row;
  }

  .checkout_form {
    margin-right: 100px;
  }

  .basket {
    margin-top: 130px;
  }

  .page-divider {
    margin-top: 80px;
  }
}
