.hero-text_container {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 90px;
}

.hero {
  color: var(--dark_farve);
}

.hero_2 {
  color: var(--tema_farve);
}

.hero-img_container {
  display: flex;
  gap: 4vw;
}

.hero-img_container img {
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.855);
  border-radius: 2px;
  border: 0.5px solid var(--dark_farve);
}

.intro-text {
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  text-align: center;

  font-style: oblique;
  word-spacing: 4px;
  margin-top: 140px;
  z-index: 2;
}

.intro-text .title2 {
  font-size: 14px;
  color: #68463bf6;
  font-family: "Helvetica Light";
  margin-bottom: -8px;
  font-style: oblique;
  margin-top: -10px;
}

.intro-text p {
  color: #68463bf6;
  letter-spacing: 1px;
}

.product-teaser_container {
  gap: 4vw;
  width: 100%;
  margin-top: 80px;
  justify-content: center;
}

.product-teaser {
  display: flex;
  gap: 4vw;
  margin-bottom: 180px;
  margin-top: 100px;
  justify-content: center;
  position: relative;
}

.product-teaser_container .section_title {
  position: absolute;
  top: -40px;
}

.section_title {
  font-family: "Helvetica Light";
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.5px;
  color: var(--dark_farve);
}

.display-img {
  filter: opacity(90%);
  border: 0.5px solid black;
  border-radius: 2px;
}

.frontpage-cta {
  position: absolute;
  top: 55vw;
  display: flex;
  justify-content: center;
  font-family: "Helvetica Light";
  text-align: center;
  font-size: 14px;
}

.cta-text {
  text-shadow: 1px 4px 2px rgb(255, 255, 255);
}

.cta_border-top {
  position: absolute;
  bottom: 20px;
  width: 140%;
  max-width: 260px;
  height: 0.5px;
  background-color: var(--lys_farve);
  margin-bottom: 15px;
}

.cta_border-bottom {
  position: absolute;
  top: 20px;
  width: 140%;
  max-width: 260px;
  height: 0.5px;
  background-color: var(--lys_farve);
  margin-top: 15px;
}

.seasonal_container {
  margin: 16px 0 30px 0;
}

.seasonal-text_box {
  font-family: "Helvetica Light";
  font-size: 14px;
  letter-spacing: 0.6px;
  word-spacing: 105;
  line-height: 2;

  border: 0.5px solid var(--lys_farve);
  border-radius: 2px;
}

.seasonal-text {
  padding: 20px;
}

.seasonal_container .title2 {
  padding: 12px;
  font-style: oblique;
}

.seasonal_container a {
  display: flex;
  margin-top: 60px;
}

.title2 {
  color: var(--dark_farve);
  font-family: "Helvetica";
  font-size: 16px;
  letter-spacing: 1.5px;
}

.section-img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.218);
}

.page-divider {
  width: 100%;
}

/*  */

/* DESKTOP */

@media only screen and (min-width: 900px) {
  .hero-text_container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 3.5vw;
    padding: 4vw 0 4vw 0;
    margin-bottom: 60;
    margin-top: 0px;
  }

  .hero {
    font-size: 3.5vw;
    letter-spacing: 4px;
  }

  .hero_2 {
    font-size: 3.5vw;
    letter-spacing: 4px;
  }

  .hero-img_container {
    order: +1;
  }

  .product-teaser_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 100px;
  }

  .product-teaser {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-top: 20px;
  }

  .intro-text .title2 {
    font-size: 16px;
  }

  .frontpage-cta {
    font-size: 16px;
    top: 120%;
    margin-top: -1vw;
  }

  .cta_border-top {
    max-width: 320px;
    bottom: 30px;
  }

  .cta_border-bottom {
    max-width: 320px;
    top: 30px;
  }

  .seasonal_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
  }

  .seasonal_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .seasonal-text_box {
    display: flex;

    font-size: 16px;
    flex-direction: column;
    max-height: 100%;
    overflow: scroll;
  }

  .seasonal-title_container {
    margin-left: 50vw;
  }

  .page-divider {
    margin-top: 80px;
  }
}
