/*************** Reset *********************/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
#product_list_container {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15%;
}

@media (min-width: 900px) {
  #product_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .grid_1-4 {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .catalog {
    grid-column: 1 / span 1;
  }
  .product {
    grid-column: 2 / span 3;
  }
}
.product_container img {
  width: 100%;
}

/* ---------- PRODUCT ---------- */
#product_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

/* ---------- PRODUCT LIST ---------- */

hr {
  width: 40%;
  margin-left: 1%;
}

.hero_2 {
  margin-left: 1%;
}

.menu {
  margin-top: 5%;
  margin-left: 2%;
  list-style-type: none;
  line-height: 2; /* Øger linjeafstanden */
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: small;
}

.hojre {
  text-align: right;
  margin-top: -25px;
}

.baggrund {
  background-image: url(img/background-texture.svg);
}

img {
  align-items: right;
  justify-items: right;
}
