.col {
  margin: 5vh;
}
.grid_1-1 {
  display: flex;
  flex-direction: column;
}
.price_container {
  display: flex;
  gap: 10px;
}
.dynamisk_innhold {
  margin-top: 10vh;
}
.discount_price {
  text-decoration: line-through;
  color: grey;
}
button {
  color: var(--bakgrunn);
  font-family: "Helvetica";
  font-size: 1.3rem;
  padding: 3vh;
  width: 50vh;
  cursor: pointer;
  background-color: var(--dark_farve);
  border: solid 0.1rem var(--dark_farve);
}
button:hover {
  transform: scale(1.02);
}
.basket {
  background-color: var(--bakgrunn);
  border: solid 0.1rem var(--dark_farve);
  color: var(--dark_farve);
}
.button-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: start; /* Align buttons in the center horizontally */
  gap: 10px; /* Space between the buttons */
}

#counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5vh;
  border: solid 0.1rem var(--dark_farve);
  cursor: pointer;
  width: 15vh;
  margin-bottom: 2vh;
}

#count {
  font-family: "Helvetica";
  font-size: 1.3rem;
}

.controls {
  display: flex;
  gap: 10px;
}

.control-button {
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Helvetica";
  font-size: 1.3rem;
}

.control-button:hover {
  transform: scale(1.02);
}
hr {
  margin-top: 5vh;
  color: transparent;
}
.hide {
  color: transparent;
  background-color: transparent;
}
.show {
  color: gray;
}
.background-texture img {
  border: solid 0.1rem var(--dark_farve);
  margin: 0 auto;
}
/* Container for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Button style */
.dropdown-button_info,
.dropdown-button_rev {
  padding: 10px 20px;
  font-size: 16px;
  border-bottom: solid 0.1rem var(--dark_farve);
  border-top: solid 0.1rem var(--dark_farve);
  cursor: pointer;
}

.dropdown-button_rev:hover,
.dropdown-button_info:hover {
  color: gray;
}
.control-button:hover {
  transform: scale(1.2);
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none; /* Initially hidden */
  position: relative; /* Position it relative to the button */
  min-width: 160px; /* Width of the dropdown */
  border-bottom: solid 0.1rem var(--dark_farve);
  z-index: 1; /* Make sure it is above other content */
  padding: 20px;
}

/* Optional hover effect for the dropdown */
.dropdown-content p {
  margin: 0;
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.contact,
.review {
  padding: 2vh;
  border-bottom: solid 0.1rem var(--dark_farve);
}
.review {
  border-left: solid 0.1rem var(--dark_farve);
}
.bold {
  font-weight: bold;
}
.underline {
  border-bottom: solid 0.1rem var(--dark_farve);
}
.info {
  margin: 5vh 0 5vh 0;
}
.info p:last-child,
.padding {
  margin-top: 2vh;
}

.grey {
  color: grey;
}
.uppercase {
  color: gray;
  text-transform: uppercase;
}
.number {
  text-align: end;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero_2 {
  font-size: 2.5rem;
  margin: -3vh 0 -3vh 0;
}
.dropdown-content .grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.discount {
  color: var(--tema_farve);
}
@media (min-width: 1024px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  img {
    width: 100%;
  }
  .hero_2 {
    font-size: 3rem;
  }

  .border {
    border-right: solid 0.1rem var(--dark_farve);
  }
}
